.shortans-choice {
    // padding: 2rem 0;
    width: 70%;
    margin: auto;
    //   padding: 2rem 0;
    //   border-bottom: 1px solid #ddd;
    //   padding: 10px 40px;

    .row-selector{
        background: #ddd;
        padding: 25px 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        select{
            webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
            -webkit-transition: -webkit-box-shadow 0.4s;
            transition: -webkit-box-shadow 0.4s;
            -o-transition: box-shadow 0.4s;
            transition: box-shadow 0.4s;
            transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
            // -webkit-appearance: none;
            // -moz-appearance: none;
            // appearance: none;
            border: none;
            margin: 10px;
            width: 80px;
            // display: inline-block;
            height: 30px;
            border-radius: 5px;
            padding-left: 5px;
            cursor: pointer;
            outline: none;
        }
    }
    &__search {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper__shortans-btn {
        text-align: right;

        button {
            margin: 0 10px;
            border: 1px solid transparent;
            padding: 7px 25px;
            color: white;
            cursor: pointer;
        }

        .btn-submit {
            background: blue;

            &:hover {
                background: white;
                color: blue;
                border-color: blue;
            }
        }

        .btn-reset {
            background: rgb(206, 52, 5);

            &:hover {
                background: white;
                color: rgb(206, 52, 5);
                border-color: rgb(206, 52, 5);
            }
        }
    }
}